<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.admin.db.mapper.ex.CustNoRoleExtMapper">
    <resultMap type="com.hz.admin.db.entity.ex.CustNoRoleDO" id="resultCustNoRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cust_no" jdbcType="VARCHAR" property="custNo"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="selectCustNoRoleList" resultMap="resultCustNoRole">
				SELECT
                    cr.id,
                    ci.cust_no,
                    r.role_name,
                    cr.update_time,
                    cr.create_time
                FROM
                    `hz_custno_role` cr,
                    `hz_custno_info` ci,
                    `hz_role` r
                WHERE
                    cr.cust_no = ci.cust_no AND
                    cr.role_id = r.id

    </select>


</mapper>